<%= form_with model: to_dont do |form| %>
    <div class="form-group">
        <%= form.label "I don't want to" %>
        <%= form.text_field :task, :size => 40 %>
        <%= form.hidden_field :user_id, value: Current.user.id %>
    </div>
    <div class="form-group">
        <% if to_dont.persisted? %>
            <%= form.submit "Update" %>  
        <% else %>
            <%= form.submit "Add" %>
        <% end %>
    </div>
<% end %>